<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Scripts/BootStrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/ErrorStyles.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/BootStrapDateTimePicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/BootStrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/BootStrapDateTimePicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/Scripts/BootStrapDateTimePicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
</head>
<body>
    <div class="navbar navbar-inverse ">
        <div class="container-fluid">
            <div class="navbar-header">
                @Html.ActionLink("货运项目 - 后台管理", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-md-2">
                @Html.Action("Menu", "Nav");
            </div>
            <div class="col-md-10">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>